# This is a basic workflow to help you get started with Actions

name: test

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: test
        run: echo OK

  build:
    runs-on: ubuntu-latest
    needs: [ setup ]

    steps:
      - uses: actions/checkout@v2
      
      - uses: ./.github/actions/setup

      - name: Run a one-line script
        run: echo Hello, world!
